@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --primary-color: #01c38d;
  --primary-text-color: #01c38d;
}

body {
  color: rgb(var(--foreground-rgb));
}

.separator {
  background-color: #8f96a1;
  height: 1px;
  width: 100%;
  opacity: 0.4;

  /* background-color: #fff;
  height: 1px;
  width: 100%;
  opacity: 0.3; */
}

.historical-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 240px;
  width: 520px;
  background-color: rgba(25, 30, 41, 0.9);
  border-radius: 10px;
  box-shadow: -4px 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.historical-chart-header {
  width: 100%;
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px 10px 0 0;
}

.historical-chart-button {
  width: 100%;
  height: 1.6rem;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.historical-chart-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #01c38d;
}
.button-selected {
  background-color: rgba(255, 255, 255, 0.2);
  color: #01c38d;
}
.historical-chart-button:active {
  background-color: rgba(255, 255, 255, 0.25);
  color: #01c38d;
}
.button-first { border-radius: 0 0 0 10px }
.button-last { border-radius: 0 0 10px 0 }

.banner {
  width: 100%;
  min-height: 52vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  padding:4rem;
  background-image: linear-gradient(to bottom right, #191e29, #364053);
  color:white;
}


@media only screen and (max-width: 768px) {
  .historical-chart-wrapper {
    height: 240px;
    width: 300px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-primary {
  color: var(--primary-text-color)
}

@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/TT-Commons-Medium.otf') format('opentype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/TT-Commons-Light.otf') format('opentype');
  font-weight: 'light';
  font-display: swap;
}
.red-text-shadow {
  text-shadow: rgba(0,0,0,0.3) 0.1px -0.1px 2px;
}
.loader {
  width: 12px;
  height: 12px;
  margin-left: 1rem;
  border: 1px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 